.nu-button {
  outline: none;
  min-width: 64px;
  padding: 0 12px;
  user-select: none;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: center;
  color: var(--text-color);
  height: var(--btn-height);
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  transition: box-shadow 200ms ease-in-out;
  -webkit-tap-highlight-color: transparent !important;
}

.nu-button.nu-button--light {
  --bg-color: var(--light-bg);
  --border-color: var(--text-color);
  --text-color: var(--g-text-color-light);
  --text-color-disabled: var(--g-text-color-disabled-light);
  --box-shadow: 5px 5px 12px var(--light-bg-dark-shadow),
    -4px -4px 10px var(--light-bg-light-shadow);
  --box-shadow-hover: 2px 2px 5px var(--light-bg-dark-shadow),
    -2px -2px 5px var(--light-bg-light-shadow);
  --box-shadow-inset: inset -2px -2px 5px var(--light-bg-light-shadow),
    inset 2px 2px 5px var(--light-bg-dark-shadow);
  --box-shadow-inset-low: inset -1px -1px 3px var(--light-bg-light-shadow),
    inset 1px 1px 3px var(--light-bg-dark-shadow);
  --box-shadow-fab: 10px 10px 20px var(--light-bg-dark-shadow),
    -7px -7px 16px var(--light-bg-light-shadow);
}

.nu-button.nu-button--dark {
  --bg-color: var(--dark-bg);
  --border-color: var(--text-color);
  --text-color: var(--g-text-color-dark);
  --text-color-disabled: var(--g-text-color-disabled-dark);
  --box-shadow: 5px 5px 12px var(--dark-bg-dark-shadow),
    -4px -4px 10px var(--dark-bg-light-shadow);
  --box-shadow-hover: 2px 2px 5px var(--dark-bg-dark-shadow),
    -2px -2px 5px var(--dark-bg-light-shadow);
  --box-shadow-inset: inset -2px -2px 5px var(--dark-bg-light-shadow),
    inset 2px 2px 5px var(--dark-bg-dark-shadow);
  --box-shadow-inset-low: inset -1px -1px 3px var(--dark-bg-light-shadow),
    inset 1px 1px 3px var(--dark-bg-dark-shadow);
  --box-shadow-fab: 10px 10px 20px var(--dark-bg-dark-shadow),
    -7px -7px 16px var(--dark-bg-light-shadow);
}

.nu-button.nu-button--fab,
.nu-button.nu-button--icon,
.nu-button.nu-button--toggle {
  transition: none;
}

.nu-button.nu-button--icon,
.nu-button.nu-button--toggle {
  padding: 0;
}

.nu-button.nu-button--icon {
  width: var(--btn-height);
  max-width: var(--btn-height);
}

.nu-button.nu-button--fab {
  height: var(--fab-size);
  min-width: var(--fab-size);
  min-height: var(--fab-size);
  box-shadow: var(--box-shadow-fab) !important;
}

.nu-button.nu-button--icon,
.nu-button.nu-button--toggle {
  min-width: var(--btn-height);
  min-height: var(--btn-height);
  box-shadow: var(--box-shadow-hover) !important;
}

.nu-button--fab.nu-button--small {
  --fab-size: 40px;
}

.nu-button--fab.nu-button--medium {
  --fab-size: 48px;
}

.nu-button--fab.nu-button--large {
  --fab-size: 56px;
}

.nu-button.nu-button--small {
  --btn-height: 30px;
}

.nu-button.nu-button--medium {
  --btn-height: 36px;
}

.nu-button.nu-button--large {
  --btn-height: 42px;
}

.nu-button.nu-button--block {
  display: flex;
}

.nu-button.nu-button--rounded {
  border-radius: 56px !important;
}

.nu-button.nu-button--disabled {
  opacity: 0.6;
  pointer-events: none;
  --border-color: var(--text-color-disabled);
  --text-color: var(--text-color-disabled);
}

.nu-button.nu-button--text {
  box-shadow: none !important;
  transition: none !important;
  --bg-color: transparent !important;
}


.nu-button.nu-button--outlined {
  box-shadow: none !important;
  transition: none !important;
  --bg-color: transparent !important;
  border: 1px solid var(--border-color);
}

.nu-button.nu-button--depressed {
  box-shadow: var(--box-shadow-hover);
}

.nu-button:hover {
  box-shadow: var(--box-shadow-hover);
}

.nu-button:active,
.nu-button.nu-button--active {
  transition: none !important;
}

.nu-button:active,
.nu-button.nu-button--active:active {
  box-shadow: var(--box-shadow-inset) !important;
}

.nu-button.nu-button--active {
  box-shadow: var(--box-shadow-inset-low) !important;
}

.nu-button:focus {
  outline: none;
  padding: 0 10px;
  border: 2px solid var(--border-color);
}

.nu-button.nu-button--outlined:focus {
  padding: 0 11px;
}

.nu-button-inner {
  letter-spacing: 1.05px;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  border: none;
  outline: none;
  color: inherit;
  cursor: inherit;
  display: inherit;
  max-width: inherit;
  box-sizing: inherit;
  text-shadow: inherit;
  border-radius: inherit;
  text-transform: uppercase;
  background-color: inherit;
  -webkit-tap-highlight-color: transparent !important;
  font-family: 'Roboto', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
