.nu-h1 {
  letter-spacing: -1.5px;
  font-weight: 200;
  font-size: 96px;
}

.nu-h2 {
  letter-spacing: -0.5px;
  font-weight: 300;
  font-size: 60px;
}

.nu-h3 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 48px;
}

.nu-h4 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 34px;
}

.nu-h5 {
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 24px;
}

.nu-h6 {
  letter-spacing: 0.15px;
  font-weight: medium;
  font-size: 20px;
}

.nu-subtitle-1 {
  letter-spacing: 0.15px;
  font-weight: normal;
  font-size: 16px;
}

.nu-subtitle-2 {
  letter-spacing: 0.1px;
  font-weight: normal;
  font-size: 14px;
}

.nu-body-1 {
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 16px;
}

.nu-body-2 {
  letter-spacing: 0.26px;
  font-weight: normal;
  font-size: 14px;
}

.nu-caption {
  letter-spacing: 0.4px;
  font-weight: normal;
  font-size: 12px;
}

.nu-overline {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-size: 10px;
}

.nu-h1,
.nu-h2,
.nu-h3,
.nu-h4,
.nu-h5,
.nu-h6,
.nu-body-1,
.nu-body-2,
.nu-caption,
.nu-overline,
.nu-subtitle-1,
.nu-subtitle-2 {
  color: var(--text-color);
}

.nu-typography.nu-typography--primary.nu-typography--light {
  --text-color: var(--g-text-color-light);
}

.nu-typography.nu-typography--primary.nu-typography--dark {
  --text-color: var(--g-text-color-dark);
}

.nu-typography.nu-typography--secondary.nu-typography--light {
  --text-color: var(--g-text-color-secondary-light);
}

.nu-typography.nu-typography--secondary.nu-typography--dark {
  --text-color: var(--g-text-color-secondary-dark);
}

.nu-typography.nu-typography--disabled.nu-typography--light {
  --text-color: var(--g-text-color-disabled-light);
}

.nu-typography.nu-typography--disabled.nu-typography--dark {
  --text-color: var(--g-text-color-disabled-dark);
}
