.nu-card {
  width: auto;
  padding: 16px;
  font-size: 16px;
  border-radius: 8px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.nu-card.nu-card--light {
  --text-color: var(--g-text-color-light);
  --border-color: var(--light-bg-dark-shadow);
  --box-shadow: 3px 3px 5px var(--light-bg-dark-shadow),
    -3px -3px 5px var(--light-bg-light-shadow);
}

.nu-card.nu-card--dark {
  --text-color: var(--g-text-color-dark);
  --border-color: var(--dark-bg-dark-shadow);
  --box-shadow: 3px 3px 5px var(--dark-bg-dark-shadow),
    -3px -3px 5px var(--dark-bg-light-shadow);
}

.nu-card.nu-card--rounded {
  border-radius: 48px;
}

.nu-card.nu-card--outlined {
  box-shadow: none !important;
  border: 1px solid var(--border-color);
}

.nu-card.elevation-1 {
  box-shadow: var(--box-shadow);
}

.nu-card.elevation-0 {
  box-shadow: var(--box-shadow);
}

