:root {
  --light-bg: #E4EBF5;
  --light-bg-dark-shadow: #bec8e4;
  --light-bg-light-shadow: #ffffff;

  --dark-bg: #444444;
  --dark-bg-dark-shadow: #363636;
  --dark-bg-light-shadow: #525252;

  --white: #ffffff;
  --black: #000000;

  --primary: #f71b94;
  --primary-dark: #aa0660;
  --primary-light: #fa7ac0;

  --g-text-color-light: rgba(0, 0, 0, 0.87);
  --g-text-color-disabled-light: rgba(0, 0, 0, 0.38);
  --g-text-color-secondary-light: rgba(0, 0, 0, 0.60);

  --g-text-color-dark: rgba(255, 255, 255, 0.87);
  --g-text-color-disabled-dark: rgba(255, 255, 255, 0.38);
  --g-text-color-secondary-dark: rgba(255, 255, 255, 0.60);

  --g-bg-color-disabled-light: #dee5e8;
  --g-bg-color-disabled-dark: #727272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.selection-control-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 4px 8px !important;
  padding: 4px !important;
}

.d-dummy {
  width: 100px;
  height: 24px;
}
