.nu-checkbox {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-appearance: none;
    transition: all 200ms ease-in-out;
}

.nu-checkbox.nu-checkbox--light {
    --bg-color: var(--light-bg);
    --text-color: rgba(0, 0, 0, .86);
    --box-shadow: 2px 2px 4px var(--light-bg-dark-shadow),
        -2px -2px 4px var(--light-bg-light-shadow);
    --box-shadow-inset: inset -1px -1px 2px var(--light-bg-light-shadow),
        inset 1px 1px 2px var(--light-bg-dark-shadow);
}

.nu-checkbox.nu-checkbox--dark {
    --bg-color: var(--dark-bg);
    --text-color: rgba(255, 255, 255, 1);
    --box-shadow: 2px 2px 4px var(--dark-bg-dark-shadow),
        -2px -2px 4px var(--dark-bg-light-shadow);
    --box-shadow-inset: inset -1px -1px 2px var(--dark-bg-light-shadow),
        inset 1px 1px 2px var(--dark-bg-dark-shadow);
}

.nu-checkbox {
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    box-shadow: var(--box-shadow-inset);
}

.nu-checkbox:checked {
    border: 1px solid transparent;
    box-shadow: var(--box-shadow);
}

.nu-checkbox:before {
    content: "";
    top: 8px;
    left: 3.5px;
    width: 20px;
    height: 20px;
    position: absolute;
    pointer-events: none;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nu-checkbox:checked:before {
    animation: checkbox-check 200ms cubic-bezier(.4, .0, .23, 1) forwards;
}

.nu-checkbox:not(:checked):before {
    animation: checkbox-uncheck 150ms cubic-bezier(.4, .0, .23, 1) forwards;
}

.nu-checkbox:hover {
    box-shadow: var(--box-shadow);
}

.nu-checkbox-label {
    font-size: 16px;
    margin-left: 8px;
    margin-top: -2px;
    color: var(--text-color);
}


@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: var(--text-color);
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    33% {
        width: 3px;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    100% {
        width: 3px;
        height: 8px;
        border-color: var(--text-color);
        transform: translate3d(0, -8px, 0) rotate(45deg);
    }
}

@keyframes checkbox-uncheck {
    0% {
        width: 3px;
        height: 8px;
        border-color: var(--text-color);
        transform: translate3d(0, -8px, 0) rotate(45deg);
    }

    60% {
        width: 3px;
        height: 0;
        transform: translate3d(0, 0, 0) rotate(45deg);
    }

    90% {
        width: 0;
        height: 0;
        border-color: var(--text-color);
        transform: translate3d(0px, 0, 0) rotate(45deg);
    }

    100% {
        border-color: transparent;
        transform: translate3d(0px, 0, 0) rotate(45deg);
    }


}