* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--bg-color);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.theme--light {
  --bg-color: var(--light-bg);
  --text-shadow: var(--light-bg-light-shadow);
  --menu-text-color: var(--g-text-color-light);
  --menu-text-hover-color: var(--primary-dark);
}

.theme--dark {
  --bg-color: var(--dark-bg);
  --text-shadow: var(--dark-bg-light-shadow);
  --menu-text-color: var(--g-text-color-dark);
  --menu-text-hover-color: var(--primary-light);
}

main {
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg-color);
}

.d-dummy {
  width: 100px;
  height: 24px;
}

.sidebar {
  top: -6px;
  z-index: 1;
  user-select: none;
  padding: 16px;
  position: absolute;
  height: calc(100% + 6px);
  width: 300px !important;
  transform: translate3d(-324px, 0, 0);
  transition: all .2s ease-in-out;
}


.sidebar--open {
  transform: translate3d(0, 0, 0);
}

.sidebar--always {
  position: unset !important;
  transform: translate3d(0, 0, 0) !important;
}

.sidebar ul {
  padding: 4px 0px 0px 0px;
  list-style: none;
  margin: 0;
}

.sidebar ul li {
  padding: 6px 12px;
  list-style: none;
  width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar ul li a,
.sidebar-menu-title a {
  text-decoration: none !important;
  color: var(--menu-text-color);
}

.sidebar-link-active,
.sidebar ul li a:hover,
.sidebar-menu-title:hover,
.sidebar-menu-title a:hover {
  color: var(--menu-text-hover-color) !important;
}

.sidebar-link-active {
  text-shadow: 1px 1px 1px var(--text-shadow);
}

.sidebar-menu-title {
  padding: 8px 0px;
  text-decoration: none;
}

.sidebar-menu {
  padding-top: 4px;
}

.sidebar-menu input[type="checkbox"] {
  appearance: none;
  position: absolute;
  left: -9999;
}

.sidebar-menu input[type="checkbox"]~ul,
.sidebar-menu input[type="checkbox"]:checked~ul {
  overflow: hidden;
  transition: all .25s;
}

.sidebar-menu input[type="checkbox"]~ul {
  max-height: 0;
}

.sidebar-menu input[type="checkbox"]:checked~ul {
  max-height: 100vh;
  transition: all 1s;
}

.sidebar-menu label {
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main container */

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.main-container {
  padding: 100px;
  overflow: hidden;
}

.main-container-sm {
  padding: 24px;
}

.main-content {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
}

.main-view {
  padding: 16px;
  transition: all .2s ease-in-out;
}

.main-view--open {
  opacity: 0.5;
  pointer-events: none;
  transform: translate3d(300px, 0, 0) !important;
}

.main-topbar {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-action,
.topbar-title {
  margin-left: 4px;
}
